@model InvoiceMaker.FormModels.DeleteWorkType

<h1>Delete Confirmation</h1>

<p>Are you sure you want to delete @Model.Name?</p>

@using (Html.BeginForm("Delete", "WorkType", new { Id = Model.Id }, FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div>
            @Html.ActionLink("Cancel", "Index", new { }, new { @class = "pure-button" })
            <button type="submit" class="button-error pure-button">Delete</button>
        </div>
    </fieldset>
}
