@model List<InvoiceMaker.Models.Client>

<h1>Clients</h1>

<p>
    @Html.ActionLink("Add A Client", "Create", new { }, new { @class = "button-secondary pure-button" })
</p>

<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Name</td>
                <td>
                    @if (client.IsActive)
                    {
                        <span>Yes</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = client.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "button-neutral pure-button" })</p>
