<h1 class="m-4">Invoices</h1>

<ul>
<li>@Html.ActionLink("Clients", "Index", "Clients")</li>
<li>@Html.ActionLink("WorkType", "Index", "WorkType")</li>
<li>@Html.ActionLink("WorkDone", "Index", "WorkDone")</li>
</ul>
