<h1>Invoices, LLC.</h1>

<ul>
    <li>@Html.ActionLink("Client", "Index", "Clients")</li>
    <li>@Html.ActionLink("Work Type", "Index", "WorkType")</li>
    <li>@Html.ActionLink("Work Dones", "Index", "WorkDone")</li>
    <li>@Html.ActionLink("Invoices", "Index", "Invoice")</li>
</ul>
